<h2>Basic</h2>
<div>
    <label for="">custom label</label>
    <c-checkbox></c-checkbox>
</div>
<div>
    <c-checkbox val='label 1'></c-checkbox>
</div>
<div>
    <c-checkbox val='label 2'></c-checkbox>
</div>

<h2>Preselection</h2>
<div>
    <c-checkbox [checked]="true" val='label 1'></c-checkbox>
</div>
<div>
    <c-checkbox val='label 2'></c-checkbox>
</div>

<h2>Label position</h2>
<div>
    <c-checkbox val='label left' labelPosition='left'></c-checkbox>
</div>
<div>
    <c-checkbox val='label right' labelPosition='right'></c-checkbox>
</div>

<h2>Checked - {{ checked }}</h2>
<div>
    <c-checkbox [checked]="checked" (change)="checked = !checked"></c-checkbox>
</div>