<div class="container">
  <header>
    <div class="banner">
      <img class="banner-icon" src="assets/favicon.ico" alt="icon">
      <h3>{{"Corny Components"}}</h3>
    </div>
    <p>{{ version }}</p>
  </header>

  <div class="content">
    <div class="nav-container" [@enabledStateChange]="sidenavState">
      <nav>
        <ul *ngFor='let component of components' class="components-list">
          <li [style.font-weight]="component === selectedComponent ? 'bold' : 'normal'" tabindex="0" c-focused
              (click)='addComponent(component)'>{{ component.name.slice(0, -11) }}
          </li>
        </ul>
      </nav>
      <button class="btn-show-sidenav" (click)="toggleSidenav()">
        <b *ngIf="sidenavState==='closed'">></b>
        <b *ngIf="sidenavState==='open'"><</b>
      </button>
    </div>



    <main [style.width] = "'100%'">
      <ng-template #container class="component"></ng-template>
    </main>
  </div>

</div>
