<h3>Button</h3>
<div class="container">
  <c-button (click)="show()" btnType="button" text="Primary(click me)"></c-button>
<!--  <c-button class="c-button-secondary" btnType="button" text="Secondary"></c-button>-->
<!--  <c-button class="c-button-success" btnType="button" text="Success"></c-button>-->
<!--  <c-button class="c-button-info" btnType="button" text="Info"></c-button>-->
<!--  <c-button class="c-button-warning" btnType="button" text="Warning"></c-button>-->
<!--  <c-button class="c-button-danger" btnType="button" text="Danger"></c-button>-->
<!--  <c-button [disabled]="true" btnType="button" text="disabled"></c-button>-->
</div>

<h3>Text-button</h3>
<div>
  <c-button btnType="text"></c-button>
  <c-button [disabled]="true" btnType="text" text="disabled"></c-button>
</div>


<h3>Outlined</h3>
<div class="container">
  <c-button btnType="outlined"></c-button>
  <c-button [disabled]="true" btnType="outlined" text="disabled"></c-button>
</div>

