<h3>Progress</h3>
<div>
  <p>{{valueProgress | number: '1.0-0'}} %</p>
  <c-progress-bar [value]="valueProgress"></c-progress-bar>
  <c-button (click)="startProgress()" [disabled]="progressStarted" text="Start"></c-button>
</div>

<h3>Countdown</h3>
<div>
  <c-progress-bar  [value]="valueCountdown"></c-progress-bar>
  <c-button (click)="startCountdown()" [disabled]="countdownStarted" text="Start"></c-button>
</div>

<h3>Indeterminate</h3>
<div>
  <c-progress-bar [mode]="'indeterminate'"></c-progress-bar>
</div>

